# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/
.pytest_cache/

# Build artifacts
build/*.build/
build/*.dist/
build/*.onefile-build/

# Integration tests artifacts
integration_tests/algo_against_oracle/oracle_cache/
integration_tests/algo_against_oracle/oracle_results/
