{
  "students": [
    "Alice", 
    "Bob", 
    "Carol", 
    "Dan", 
    "Eve"
  ],
  "classroom_tags": [["latin"], [], ["sport"]],
  "constraint_sets": [
    {
      "type": "and",
      "constraints": [
        {"type": "students_together", "student_a": "Alice", "student_b": "Bob"},
        {"type": "students_apart", "student_a": "Alice", "student_b": "Carol"},
        {"type": "class_size", "min_size": 1, "max_size": 3}
      ]
    },
    {
      "type": "or",
      "constraints": [
        {"type": "student_tag_presence", "student": "Dan", "tag": "latin", "present": true},
        {"type": "student_tag_presence", "student": "Dan", "tag": "sport", "present": true}
      ]
    },
    {
      "type": "class_size",
      "min_size": 1,
      "max_size": 2
    },
    {
      "type": "not",
      "constraint": {"type": "students_together", "student_a": "Carol", "student_b": "Eve"}
    }
  ]
}
